<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Список уроков</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Уроки</h1>-->

<!--    &lt;!&ndash; Список уроков &ndash;&gt;-->
<!--    <ul>-->
<!--        {% for lesson in lessons %}-->
<!--            <li>{{ lesson.title }}</li>-->
<!--        {% empty %}-->
<!--            <li>Уроки не найдены.</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

<!--    &lt;!&ndash; Кнопка для возврата на страницу с деталями курса &ndash;&gt;-->
<!--    <form action="{% url 'course_detail' pk=course_id %}" method="get">-->
<!--        <button type="submit">Вернуться к курсу</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
